	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main-container{
	background-color:rgb(46, 45, 45);
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 
	repeat(2, 1fr)
	repeat(3, 0.5fr)
	repeat(2, 1fr)
	0.10fr
	repeat(3, 1fr)
	0.10fr
	repeat(2, 1fr)
  repeat(3, 0.5fr)
	repeat(3, 1fr)
	;
	
	width: 100vw;
	height: 100vh;
	gap: 5px;
	border:5px solid rgb(0, 0, 0);
}
[class^="b-"]{background-color: rgb(23, 134, 179);}
[class^="y-"]{background-color: rgb(255, 255, 0);}
[class^="blk-"]{background-color: rgb(0, 0, 0);}
[class^="r-"]{background-color: rgb(255, 0, 0);}
[class^="w-"]{background-color: rgb(255, 255, 255);}

/* white sections */
.w-1{grid-column:1/span 2;grid-row:1/span 1;}
.w-2{grid-column:3/span 3;grid-row:1/span 1;}
.w-3{grid-column:5/span 3;grid-row:2/span 1;}
.w-4{grid-column:3/span 1;grid-row:3/span 2;}
.w-5{grid-column:1/span 2;grid-row:7/span 2;}
.w-6{grid-column:1/span 2;grid-row:9/span 1;}
.w-7{grid-column:3/span 1;grid-row:8/span 3;}
.w-8{grid-column:6/span 1;grid-row:8/span 2;}
.w-9{grid-column:7/span 1;grid-row:8/span 2;}
.w-10{grid-column:1/span 2;grid-row:10/span 1;}
.w-11{grid-column:6/span 2;grid-row:10/span 1;}
.w-12{grid-column:1/span 1;grid-row:11/span 3;}
.w-13{grid-column:4/span 2;grid-row:11/span 1;}
.w-14{grid-column:6/span 2;grid-row:11/span 1;}
.w-15{grid-column:2/span 2;grid-row:13/span 1;}
.w-16{grid-column:4/span 1;grid-row:12/span 2;}
.w-17{grid-column:5/span 1;grid-row:12/span 2;}
.w-18{grid-column:7/span 1;grid-row:12/span 2;}
.w-19{grid-column:5/span 1;grid-row:14/span 1;}
.w-20{grid-column:7/span 1;grid-row:16/span 2;}
.w-21{grid-column:5/span 2;grid-row:17/span 2;}
.w-22{grid-column:5/span 3;grid-row:19/span 1;}
.w-23{grid-column:3/span 3;grid-row:20/span 1;}
.w-24{grid-column:6/span 2;grid-row:20/span 1;}


/* yellow sections */
.y-1{grid-column:6/span 2;grid-row:1/span 1;}
.y-2{grid-column:3/span 1;grid-row:2/span 1;}
.y-3{grid-column:1/span 2;grid-row:4/span 2;}
.y-4{grid-column:3/span 1;grid-row:5/span 3;}
.y-5{grid-column:1/span 2;grid-row:6/span 1;}
.y-6{grid-column:6/span 1;grid-row:12/span 3;}
.y-7{grid-column:7/span 1;grid-row:14/span 2;}
.y-8{grid-column:3/span 2;grid-row:18/span 2;}


/* blue sections */
.b-1{grid-column:1/span 2;grid-row:2/span 2;}
.b-2{grid-column:1/span 4;grid-row:14/span 4;}
.b-3{grid-column:5/span 2;grid-row:15/span 2;}


/* black sections */
.blk-1{grid-column:4/span 1;grid-row:2/span 1;}
.blk-2{grid-column:6/span 2;grid-row:7/span 2;}
.blk-3{grid-column:4/span 2;grid-row:9/span 2;}
.blk-4{grid-column:2/span 2;grid-row:11/span 2;}
.blk-5{grid-column:1/span 2;grid-row:18/span 1;}
.blk-6{grid-column:7/span 1;grid-row:18/span 1;}


/* red sections */
.r-1{grid-column:4/span 4;grid-row:3/span 4;}
.r-2{grid-column:4/span 2;grid-row:7/span 2;}
.r-3{grid-column:1/span 2;grid-row:19/span 1;}
.r-4{grid-column:1/span 2;grid-row:20/span 1;}






@media (min-width: 480px){
.main-container{
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 
	repeat(2, 1fr)
	0.10fr
	repeat(8, 1fr)
	repeat(2, 0.5fr)
	repeat(4, 1fr)
	;
}
/* WHITE */
.w-3{grid-column:4/span 3;grid-row:2;}
.w-4{grid-column:7;grid-row:2/span 2;}
.w-5{grid-column:8/span 1;grid-row:2/span 2;}
.w-6{grid-column:2;grid-row:5;}
.w-7{grid-column:7/span 2;grid-row:5/span 1;}
.w-8{grid-column:6/span 1;grid-row:6/span 3;}
.w-9{grid-column:7/span 1;grid-row:6/span 2;}
.w-10{grid-column:8;grid-row:6/span 2;}
.w-11{grid-column:4/span 2;grid-row:7/span 1;}
.w-12{grid-column:3/span 2;grid-row:8/span 1;}
.w-13{grid-column:5;grid-row:8/span 3;}
.w-14{grid-column:7/span 2;grid-row:8;}
.w-15{grid-column:6/span 2;grid-row:9;}
.w-16{grid-column:8;grid-row:9/span 2;}
.w-17{grid-column:1/span 2;grid-row:10/span 1;}
.w-18{grid-column:5;grid-row:11/span 2;}
.w-19{grid-column:7/span 2;grid-row:11/span 1;}
.w-20{grid-column:5/span 2;grid-row:13/span 2;}
.w-21{grid-column:4/span 1;grid-row:15/span 2;}
.w-22{grid-column:5/span 3;grid-row:16;}
.w-23{grid-column:1/span 3;grid-row:17;}
.w-24{grid-column:4/span 2;grid-row:17;}

/* YELLOW */
.y-2{grid-column:8;grid-row:1;}
.y-3{grid-row:4/span 1;}
.y-4{grid-column:7/span 2;grid-row:4/span 1;}
.y-5{grid-column:1;grid-row:5/span 3;}
.y-6{grid-column:6;grid-row:10/span 3;}
.y-7{grid-column:1/span 2;grid-row:15/span 2;}
.y-8{grid-column:3/span 1;grid-row:15/span 2;}

/* BLUE */
.b-2{grid-column:1/span 4;grid-row:11/span 4;}
.b-3{grid-column:7/span 2;grid-row:12/span 2;}

/* BLACK */
.blk-1{grid-column:3;grid-row:2;}
.blk-2{grid-column:4/span 2;grid-row:6/span 1;}
.blk-3{grid-column:1/span 2;grid-row:8/span 2;}
.blk-4{grid-column:3/span 2;grid-row:9/span 2;}
.blk-5{grid-column:7/span 1;grid-row:10/span 1;}
.blk-6{grid-column:7/span 2;grid-row:14;}

/* RED */
.r-1{grid-column:3/span 4;grid-row:3/span 3;}
.r-2{grid-column:2/span 2;grid-row:6/span 2;}
.r-3{grid-column:5/span 2;grid-row:15/span 1;}
.r-4{grid-column:7/span 2;grid-row:15/span 1;}
		
}

@media(min-width: 576px) {
.main-container{
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: 
	repeat(4, 1fr)
	repeat(2, 0.5fr)
	repeat(3, 1fr)
	0.10fr
	1fr
	repeat(2, 0.35fr)
	repeat(3, 1fr)
	;}
	


/* WHITE */
.w-3{grid-column:3/span 3;grid-row:2;}
.w-4{grid-column:6;grid-row:2/span 2;}
.w-5{grid-column:7/span 1;grid-row:2/span 1;}
.w-6{grid-column:5 /span 2;grid-row:5/ span 2;}
.w-7{grid-column:9/span 1;grid-row:6/span 3;}
.w-8{grid-column:3/span 1;grid-row:7/span 2;}
.w-9{grid-column:4/span 1;grid-row:7/span 2;}
.w-10{grid-column:5/ span 2;grid-row:7/span 1;}
.w-11{grid-column:1/span 2;grid-row:8/span 1;}
.w-12{grid-column:5/span 2;grid-row:8/span 1;}
.w-13{grid-column:1;grid-row:9/span 3;}
.w-14{grid-column:4/span 2;grid-row:9/ span 1;}
.w-16{grid-column:8;grid-row:9/span 2;}
.w-17{grid-column:9/span 1;grid-row:9/span 2;}
.w-18{grid-column:3;grid-row:11/span 2;}
.w-19{grid-column:8/span 2;grid-row:11/span 1;}
.w-20{grid-column:1/span 2;grid-row:14/span 2;}
.w-21{grid-column:7/span 1;grid-row:14/span 2;}
.w-22{grid-column:8/span 2;grid-row:15;}
.w-23{grid-column:1/span 3;grid-row:16;}
.w-24{grid-column:4/span 3;grid-row:16;}

/* YELLOW */
.y-2{grid-column:1;grid-row:2;}
.y-3{grid-column:7/span 2 ;grid-row:3/span 2;}
.y-4{grid-column:9/span 1;grid-row:3/span 3;}
.y-5{grid-column:5/ span 2;grid-row:4/span 1;}
.y-6{grid-column:2;grid-row:11/span 3;}
.y-7{grid-column:1/span 1;grid-row:12/span 2;}
.y-8{grid-column:5/span 2;grid-row:14/span 2;}

/* BLUE */
.b-1{grid-column:8/span 2;grid-row:1/span 2;}
.b-2{grid-column:4/span 4;grid-row:10/span 4;}
.b-3{grid-column:8/span 2;grid-row:12/span 2;}

/* BLACK */
.blk-1{grid-column:2;grid-row:2;}
.blk-2{grid-column:5/span 1;grid-row:3/span 1;}
.blk-3{grid-row:7/span 1;}
.blk-4{grid-column:7/span 2;grid-row:7/span 2;}
.blk-5{grid-column:2/span 2;grid-row:9/span 2;}
.blk-6{grid-column:3/ span 2 ; grid-row:14;}

/* RED */
.r-1{grid-column:1/span 4;grid-row:3/span 4;}
.r-2{grid-column:7/span 2;grid-row:5/span 2;}
.r-3{grid-column:8/span 2;grid-row:14/span 1;}
.r-4{grid-column:3/span 2;grid-row:15/span 1;}

}

@media (min-width: 768px) {
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}



@media (min-width: 1600px) {
.main-container{
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(10, 1fr);
}



/* white sections */
.w-3{grid-column: 12/ span 3 ; grid-row: 1;}
.w-4{grid-column: 1 ;grid-row: 2 /span 2 ;}
.w-5{grid-column: 12/ span 2 ;grid-row: 2 / span 2;}
.w-6{grid-column:1 / span 1; grid-row: 4/ span 3;}
.w-7{grid-column: 6; grid-row: 4 / span 2;}
.w-8{grid-column: 7 ;grid-row: 4/ span 2;}
.w-9{grid-column: 10 / span 2;grid-row: 4 / span 1;}
.w-10{grid-column: 8/ span 2; grid-row: 5;}
.w-11{grid-column: 10/ span 2 ; grid-row: 5;}
.w-12{grid-column: 14; grid-row: 5/ span 3;}
.w-13{grid-row: 6;}
.w-14{grid-row: 6;}
.w-15{grid-column: 8/ span 1;grid-row: 6/ span 2;}
.w-16{grid-column: 9; grid-row: 6/ span 2;}
.w-17{	grid-column: 4/ span 2;	grid-row: 7 / span 1;}
.w-18{	grid-column: 2 / span 2;grid-row: 8/ span 2;}
.w-19{	grid-column: 14; grid-row: 8 / span 2;}
.w-20{grid-column: 5; grid-row: 9/ span 2;}
.w-21{grid-column: 1 / span 3;grid-row: 10 / span 1;}
.w-22{grid-column: 8 / span 1;grid-row: 10 ;}
.w-23{grid-column: 10 / span 3; grid-row: 10 ;}
.w-24{	grid-column: 13/ span 2 ; grid-row: 10 ;}


/* yellow sections */
.y-1{
	grid-column: 6 / span 2;
	grid-row: 1 / span 1;
}
.y-2{
	grid-column: 10 / span 1;
	grid-row: 1/ span 1;
}

.y-3{
	grid-column: 6 / span 2;
	grid-row: 2 / span 2;
}

.y-4{
	grid-column: 10 / span 2;
	grid-row: 2 / span 1;
}

.y-5{
	grid-column: 14 / span 1;
	grid-row: 2 / span 3;
}
.y-6{
	grid-column: 1 / span 1;
	grid-row: 7 / span 3;
}
.y-7{
	grid-column: 8 / span 2;
	grid-row: 8/ span 2;
}
.y-8{
	grid-column: 4 / span 1;
	grid-row: 9 / span 2;
}

/* blue sections */
.b-1{
	grid-column: 8/span 2;
	grid-row: 1 / span 2;
}
.b-2{
	grid-column: 10 / span 4;
	grid-row: 6 / span 4;
}
.b-3{
	grid-column: 6 / span 2;
	grid-row: 7 / span 2;
}
/* black sections */
.blk-1{
	grid-column: 11 / span 1;
	grid-row: 1 / span 1;
}
.blk-2{
	grid-column: 10/ span 2;
	grid-row: 3/ span 1;
}
.blk-3{
	grid-column: 12 / span 2;
	grid-row: 4 / span 2;
}
.blk-4{
	grid-column: 2 / span 2;
	grid-row: 6 / span 2;
}
.blk-5{
	grid-column: 4/ span 2;
	grid-row: 8 / span 1;
}
.blk-6{
	grid-column: 9 / span 1;
	grid-row: 10 / span 1;
}

/* red sections */
.r-1{
	grid-column: 2 / span 4;
	grid-row: 2 / span 4;
}
.r-2{
	grid-column: 8 / span 2;
	grid-row: 3/ span 2;
}
.r-3{
	grid-column: 6 / span 2;
	grid-row: 9 / span 1;
}
.r-4{
	grid-column: 6 / span 2;
	grid-row: 10 / span 1;
}

}
